
.caveimg {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7)100%, rgba(0, 0, 0, 1)0%), url(./immagini/bencin-studios-pixelartbackground.gif);
    width: 100vw;
}
.martes {
    margin-top: 40vh;
    margin-left: 5vw;
    padding-right: 30vw;
    width: 15vw;
    height: 55vh;
}
.saturn {
    margin-top: 30vh;
    margin-left: 5vw;
    padding-right: 30vw;
    width: 15vw;
    height: 55vh;
}
.formslog {
    margin-top: 30vh;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px ridge black;
    width: 50vw;
    height: 35vh;
    color: white;
    font-family: 'Press Start 2P';
    white-space: normal;
}
.formsreg {
    margin-top: 30vh;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px ridge black;
    width: 50vw;
    height: 50vh;
    color: white;
    font-family: 'Press Start 2P';
    white-space: normal;
}
.allertpositionreg {
    position: relative;
    left: 63vw;
    top: 19vh;
    max-width: 500px;
    max-height: 200px;
    font-family: 'Press Start 2P';
}
.allertpositionlog {
    position: absolute;
    left: 10vw;
    top: 20vh;
    max-width: 500px;
    max-height: 200px;
    font-family: 'Press Start 2P';
}